.centeraligned { 
    background-color:yellow;
    border: solid;
    height:calc(25vh - 4px);
    width: calc(100% - 4px);    
    font-size: xx-large;
    display: flex;
    align-items:center;
    justify-content:center;
    
  
}

