.child1 { 
    background-color:white;
    height: 80%;
    width: 50%;
    border-style: solid;
    border-top: 0mm;
    border-left: 0mm;
    
    
}
img{
    width: 50%;
    opacity:0.5;
}

.editbutton{
    
   float: right;

}