.header { 
    background-color: grey;
    border-style: solid;
    border-bottom: 0mm;
    align-content: center;
    height: 40px;
  
}

.back{
    float: left;
    padding:5px;
    
}

.refresh{
    float: right;
    padding: 5px;
}