.profilename { 
    border: solid;
    background-color:#2be76d;
    height: calc(20vh - 4px);
    width: calc(100% - 4px);
    font-size: xx-large;
    justify-items: center;
    align-content:center;
    
    
}

.editbutton{
    
    float: right;
    margin-bottom: 30px;
 
 }