.three { 
    background-color: yellow;
    border: solid;
    border-left: 0px;
    height: calc(100%-4px);    
    width: 32%;
    font-size:x-large;
    text-align: right;
    align-content: end;
   
  
    
    
}
