.two { 
    background-color:purple;
    border: solid;
    height: calc(100%-4px);
    width: 34%;
    align-content:end;
    justify-items: center;
    font-size:x-large;


    
    
   
  
    
    
}
